@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap");

$fontFamily: "Onest", sans-serif;

$blue: #00adee;
$lightBlue: #c8e5ff;
$gray: #333;
$lightGray: #ccc;
$white: #fff;
$red: #e62460;